body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.stript1{
  height: 600px;
  margin-top: 1px;
}
.stript2{
  margin-top: 1px;
  height: 20000px;
}
#imgTitle{
  background-size: 100%;
  height: 650px;
}
#root{
  height: 850px;
}
.imgTitle{
	color: black;
	margin-top: 10%;

}